/*------------------- NoRep Css -------------------*/

.rowContainer {
    display: flex;
    flex-direction: row;
}

.columnContainer{
    display: flex;
    flex-direction: column;
}

.alignCenter {
    justify-content: center;
    align-items: center;
}

/*------------------- Containers -------------------*/

.containerPage {
    width: 100vw;
    height: 100vh;
}

.containerPwdGen {
    width: 25rem;
    border-radius: 2px;
    padding: 1rem;
    background-color: #161618;
}

.containerHeader {
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 0rem 2rem;
    gap: 2vw;
    background-color: #232327;
}

.content {
    background-color: #232327;
    border-radius: 2px;
    gap: 2vh;
    padding: 1rem;
}

.formStyle {
   gap: 3vh;
}

.checkboxContainer {
    gap: 1vh;
}

.containerInCheck{
    gap: 1vw;
}

.containerStength {
    justify-content: space-between;
    padding: 0 1rem;
    background-color: #161618;
}

.containerDisplayStrength {
    gap: .5vw;
}

.containerStengthGap {
    gap: 1vw;
}

/*------------------- Icons -------------------*/

.googleIcon {
    user-select: none;
    color: #D9D9D9;
}

.googleIcon:hover {
    cursor: pointer;
}

/*------------------- Buttons -------------------*/

.sumbmitBtn {
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 2px;
    border: 2px solid #5E6EFF;
    color: #5E6EFF;
    background: rgba(94, 110, 255, 0.05);
}

.sumbmitBtn:hover {
    transition: .8s;
    background-color: #5e6eff69;
}

/*------------------- Inputs -------------------*/

input[type="checkbox"]  {
    display: grid;
    place-content: center;
    width: 1.15em;
    height: 1.15em;
    appearance: none;
    cursor: pointer;
    border:2px solid #5E6EFF;
    border-radius: 0.15em;
    color: #5E6EFF;
    transform: translateY(2.5px);
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em whitesmoke;
    transform-origin: center;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
  
input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="range"] {
    --range-color: #5E6EFF; 
    background-color: transparent;
}
  
input[type="range"]::-moz-range-track {
    background-color: var(--range-color);
}

input[type="range"]::-webkit-slider-thumb {
    width: 10px; 
    height: 20px; 
    background-color: var(--range-color);
}
  
input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px; 
    border-radius: 999px;
    border: 3px solid var(--range-color);
    background-color: #232327;
}

/*------------------- Others -------------------*/

.strengthBar {
    height: 2rem;
    width: .4rem;
}

/*------------------- NockIA -------------------*/